[Unit]
Description=register b
BindsTo=emberdoro-b.service
After=emberdoro-b.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/usr/bin/etcdctl set /services/emberdoro/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:%i\' --ttl 30;
ExecStop=/usr/bin/etcdctl rm /services/emberdoro/${COREOS_PRIVATE_IPV4}

[X-Fleet]
X-ConditionMachineOf=emberdoro-*.service
