[Unit]
Description=Superstatic
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill divshot/superstatic
ExecStartPre=-/usr/bin/docker rm divshot/superstatic
ExecStartPre=/usr/bin/docker pull divshot/superstatic
ExecStart=/usr/bin/docker run --name superstatic divshot/superstatic
ExecStop=/usr/bin/docker stop divshot/superstatic
